@tailwind base;
@tailwind components;
@tailwind utilities;

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.mt-custom {
    margin-top: -30rem !important;
}

.top-85{top:85%!important}
.top-15{top:15%!important}
.start-90{left:90%!important}

h5,
.text-start{font-size: 0.95rem;}
.text-date{font-size: 0.6rem;}
